@font-face {
  font-family: RussianRail;
  src: url('/static/fonts/RussianRail_G_Pro.otf') format(opentype);
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

@font-face {
  font-family: RussianRail;
  src: url('/static/fonts/RussianRail_G_Pro_Medium.otf') format(opentype);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

@font-face {
  font-family: RussianRail;
  src: url('/static/fonts/RussianRail_G_Pro_Bold.otf') format(opentype);
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

@font-face {
  font-family: RussianRail;
  src: url('/static/fonts/RussianRail_G_Pro_Extend.otf') format(opentype);
  font-weight: 400;
  font-style: normal;
  font-stretch: expanded;
  font-variant: normal;
}

@font-face {
  font-family: RussianRail;
  src: url('/static/fonts/RussianRail_G_Pro_Extended_Bold.otf') format(opentype);
  font-weight: 700;
  font-style: normal;
  font-stretch: expanded;
  font-variant: normal;
}

@font-face {
  font-family: FSRailway;
  src: url('/static/fonts/FSRAIL55.otf') format(opentype);
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

@font-face {
  font-family: FSRailway;
  src: url('/static/fonts/FSRAIL56.otf') format(opentype);
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  font-variant: normal;
}

@font-face {
  font-family: FSRailway;
  src: url('/static/fonts/FSRAIL75.otf') format(opentype);
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

@font-face {
  font-family: FSRailway;
  src: url('/static/fonts/FSRAIL76.otf') format(opentype);
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  font-variant: normal;
}